@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
html {
    min-width: 320px;
}


/* #region navbar */

.navbar-bg {
    background: #2C2B2B;
}

.n-line {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
}

.nav-link-item {
    /* padding: 0 35px 0 0; */
    padding: 0;
    color: #FFF;
    font-size: 24px;
}

@media(min-width:992px) {
    .n-line {
        /* display: flex; */
        flex-direction: row;
    }
    .nav-link-item {
        padding: 0 18px 0 0;
        color: #FFF;
        font-size: 16px;
    }
}

@media(min-width:1110px) {
    .nav-link-item {
        font-size: 22px;
    }
}

.nav-link-item:hover {
    /* padding: 0 35px 0 0; */
    color: #E0B509 !important;
    font-weight: bold;
}

.mediaes-link {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.mediaes-link>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.icon-picture {
    width: 38px;
}


/* #endregion navbar */


/* #region 首頁 */

.article1 {
    background-color: #000;
}

.article1-btn {
    font-size: 12px;
    user-select: none;
    padding: 0;
}

.article-head {
    font-size: 24px;
    color: #E0B509;
    font-weight: bold;
}

.article1-content {
    background-image: url(../images/fourt.jpg);
    width: 100%;
    height: 300px;
    /* background-position: center center; */
}

.article1-picture {
    display: none;
}

.article1-text {
    flex-direction: column;
    font-size: 32px;
    color: white;
    font-family: 'Stardos Stencil', 'cursive';
}

.effect {
    text-shadow: 5px 5px 5px #E0B509;
}

.article2 {
    /* display: flex; */
    width: 100%;
}

.article2-left {
    /* background-image: url(../images/head-life-picture2.png); */
    background-color: rgb(128, 128, 128);
    flex-direction: column;
    justify-content: space-around;
    /* background-repeat: no-repeat; */
}

.article2-picture {
    width: 100%;
}

.article-article {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.article-link {
    justify-content: flex-end;
    /* padding: 30px; */
}

.article2-btn {
    font-size: 20px;
}

.black {
    background-color: #000;
    width: 100%;
    height: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.article3 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.article3-left {
    /* background-image: url(../images/head-achievement.jpg); */
    background-color: rgb(128, 128, 128);
    flex-direction: column;
    justify-content: space-around;
}


/* .article3-picture {
    min-height: 200px;
} */

.article3-right {}

.article3-article {
    /* color: white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article4 {
    background-color: #383838;
}

.round {
    border-radius: 43px;
}

.footer {
    background-color: #000;
    /* height: 250px; */
}

.footer-nav {
    list-style: none;
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    padding-right: 5px;
}

.footer-right {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.footer-nav-link {
    text-decoration: none;
    color: white;
}

.footer-nav-link:hover {
    color: #E0B509;
    font-weight: bold;
}

.footer-picture1 {
    max-height: 106px
}

.footer-picture2 {
    max-height: 69px
}

.footer-icon-picture {
    width: 18px;
}


/* #endregion 首頁 */


/* #region 賽季*/

.introduction {
    background-color: #000;
}

.introduction-picture1 {
    width: 100%;
    height: auto;
}

.name {
    font-family: 'Love Ya Like A Sister', 'cursive';
    font-weight: normal;
    font-size: 36px;
}

.information {
    color: #FFF;
    font-size: 18px;
}

.information-list {
    font-weight: bold;
    font-size: 23px;
}

.line1 {
    border: 1px solid rgba(255, 224, 64, 0.9);
    background-color: rgba(255, 224, 64, 0.9);
}

.introductio-name {
    color: #E0B509;
    font-size: 30px;
    text-align: center;
}

.line-contain2 {
    padding-left: 33%;
}

.line2 {
    border: 1px solid rgba(255, 224, 64, 0.9);
    background-color: rgba(255, 224, 64, 0.9);
    width: 50%;
}

.score {
    display: flex;
    color: #FFF;
    text-align: center;
    /* font-size: 36px; */
    justify-content: space-around;
}

.score-name-effect {
    /* border: 9px solid #E0B509; */
    text-shadow: 0 0 10px #E0B509, 0 0 20px #E0B509, 0 0 30px #E0B509, 0 0 40px #E0B509;
    /* text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px; */
    /* text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px; */
    font-size: 30px;
}

.score-score-effect {
    font-family: 'Stardos Stencil', 'cursive';
    font-size: 28px;
}


/* #endregion 首頁 */

@media(min-width:768px) {
    .logo {
        width: 358px;
    }
    .icon-picture {
        width: 38px;
    }
    /* #endregion navbar */
    /* #region 首頁 */
    .article1 {
        background-color: #000;
    }
    .article1-btn {
        font-size: 18px;
        user-select: none;
        padding: 6px;
    }
    .article-head {
        font-size: 40px;
        color: #E0B509;
        font-weight: bold;
    }
    .article1-content {
        background-image: url(../images/fourt.jpg);
        width: 100%;
        height: 580px;
        background-position: center center;
        overflow: hidden;
    }
    .article1-text {
        flex-direction: column;
        font-size: 58px;
        color: white;
        font-family: 'Stardos Stencil', 'cursive';
    }
    .article1-picture {
        display: flex;
        align-items: flex-end;
        width: 60%;
    }
    .article1-picture>img {
        width: 100%;
        height: auto;
        display: block;
        max-height: 600px;
        max-width: 400px;
    }
    .effect {
        text-shadow: 5px 5px 5px #ffc60b;
    }
    .article2 {
        display: flex;
    }
    .article2-right {
        width: 70%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .article2-left {
        /* background-image: url(../images/head-life-picture2.png); */
        background-color: rgb(128, 128, 128);
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }
    .article2-picture {
        height: 100%;
        min-width: 100%;
        width: auto;
        flex-shrink: 0;
    }
    .article-article {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .article-link {
        justify-content: flex-end;
    }
    .black {
        background-color: #000;
        width: 100%;
        height: 60px;
    }
    .article3 {
        flex-direction: row;
    }
    .article3-left {
        /* background-image: url(../images/head-achievement.jpg); */
        /* background-color: rgb(235, 192, 192); */
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }
    .article3-right {
        width: 70%;
    }
    .article3-article {
        /* color: white; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .article4 {
        background-color: #383838;
    }
    .round {
        border-radius: 43px;
    }
    .footer {
        background-color: #000;
        /* height: 250px; */
        display: flex;
    }
    .footer-center {}
    .footer-list {
        margin-top: 60px;
    }
    .footer-nav {
        list-style: none;
        font-size: 20px;
        padding: 0;
        padding-top: 5px;
        margin: 0;
        padding-right: 5px;
        display: flex;
    }
    .footer-right {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .footer-nav-link {
        text-decoration: none;
        color: white;
        padding-right: 15px;
    }
    .footer-nav-link:hover {
        color: #E0B509;
        font-weight: bold;
    }
    .footer-picture1 {
        max-height: 140px
    }
    .footer-picture2 {
        max-height: 93px
    }
    .footer-icon-picture {
        width: 25px;
    }
    /* #endregion 首頁 */
    /* #region 賽季 */
    .introduction {
        background-color: #000;
        display: flex;
        padding-top: 15px;
    }
    .introduction-picture {
        display: flex;
        justify-content: center;
    }
    .introduction-picture1 {
        border-radius: 30px;
        padding: 5px;
    }
    .introduction-main {
        display: flex;
        flex-direction: column;
    }
    .introduction-contain {
        display: flex;
    }
    .introduction-left {
        width: 60%;
    }
    .name {
        font-family: 'Love Ya Like A Sister', 'cursive';
        font-weight: normal;
        font-size: 48px;
    }
    .information {
        color: #FFF;
        font-size: 18px;
    }
    .information-list {
        font-weight: bold;
        font-size: 23px;
    }
    .line1 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
    }
    .introduction-right {
        width: 40%;
    }
    .introductio-name {
        color: #E0B509;
        font-size: 30px;
        text-align: center;
    }
    .line-contain2 {
        padding-left: 33%;
    }
    .line2 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
        width: 50%;
    }
    .introduction-season {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
    }
    .score {
        display: flex;
        color: #FFF;
        text-align: center;
        /* font-size: 36px; */
        justify-content: space-around;
    }
    .score-name-effect {
        /* border: 9px solid #E0B509; */
        text-shadow: 0 0 10px #E0B509, 0 0 20px #E0B509, 0 0 30px #E0B509, 0 0 40px #E0B509;
        /* text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px; */
        /* text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px; */
        font-size: 30px;
    }
    .score-score-effect {
        font-family: 'Stardos Stencil', 'cursive';
        font-size: 28px;
    }
    /* #endregion */
}

@media(min-width:992px) {
    /* #region 賽季 */
    .introduction {
        background-color: #000;
        display: flex;
        padding-top: 15px;
    }
    .introduction-picture {
        display: flex;
        justify-content: center;
    }
    .introduction-picture1 {
        border-radius: 30px;
        padding: 5px;
    }
    .introduction-main {
        display: flex;
        flex-direction: column;
    }
    .introduction-contain {
        display: flex;
    }
    .introduction-left {
        width: 60%;
    }
    .name {
        font-family: 'Love Ya Like A Sister', 'cursive';
        font-weight: normal;
        font-size: 52px;
    }
    .information {
        color: #FFF;
        font-size: 22px;
    }
    .information-list {
        font-weight: bold;
        font-size: 26px;
    }
    .line1 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
    }
    .introduction-right {
        width: 40%;
    }
    .introductio-name {
        color: #E0B509;
        font-size: 36px;
        text-align: center;
    }
    .line-contain2 {
        padding-left: 25%;
    }
    .line2 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
        width: 65%;
    }
    .introduction-season {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 280px;
    }
    .score {
        display: flex;
        color: #FFF;
        text-align: center;
        /* font-size: 36px; */
        justify-content: space-around;
    }
    .score-name-effect {
        /* border: 9px solid #E0B509; */
        text-shadow: 0 0 10px #E0B509, 0 0 20px #E0B509, 0 0 30px #E0B509, 0 0 40px #E0B509;
        /* text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px; */
        /* text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px; */
        font-size: 35px;
    }
    .score-score-effect {
        font-family: 'Stardos Stencil', 'cursive';
        font-size: 32px;
    }
    /* #endregion 賽季 */
}

@media (min-width:1280px) {
    .logo {
        width: 358px;
    }
    .nav-link-item {
        font-size: 30px;
    }
    .icon-picture {
        width: 38px;
    }
    /* #endregion navbar */
    /* #region 首頁 */
    .article1 {
        background-color: #000;
    }
    .article1-btn {
        font-size: 36px;
        user-select: none;
    }
    .article-head {
        font-size: 64px;
        color: #E0B509;
        font-weight: bold;
    }
    .article1-content {
        background-image: url(../images/fourt.jpg);
        width: 100%;
        height: 580px;
        background-position: center center;
        overflow: hidden;
    }
    .article1-text {
        flex-direction: column;
        font-size: 96px;
        color: white;
        font-family: 'Stardos Stencil', 'cursive';
    }
    .article1-picture {
        display: flex;
        align-items: flex-end;
        width: 60%;
    }
    .article1-picture>img {
        width: 100%;
        height: auto;
        display: block;
        max-height: 600px;
        max-width: 400px;
    }
    .effect {
        text-shadow: 5px 5px 5px #E0B509;
    }
    .article2 {
        display: flex;
    }
    .article2-left {
        /* background-image: url(../images/head-life-picture2.png); */
        /* background-color: rgb(238, 184, 184); */
        flex-direction: column;
        justify-content: space-around;
    }
    .article2-picture {
        width: 100%;
        height: auto;
    }
    .article-article {
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
    .article-link {
        justify-content: flex-end;
    }
    .black {
        background-color: #000;
        width: 100%;
        height: 100px;
    }
    .article3-left {
        /* background-image: url(../images/head-achievement.jpg); */
        /* background-color: rgb(235, 192, 192); */
        flex-direction: column;
        justify-content: space-around;
    }
    .article3-article {
        /* color: white; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .article4 {
        background-color: #383838;
    }
    .round {
        border-radius: 43px;
    }
    .footer {
        background-color: #000;
        /* height: 250px; */
        display: flex;
    }
    .footer-center {}
    .footer-list {
        margin-top: 75px;
    }
    .footer-nav {
        list-style: none;
        font-size: 32px;
        padding: 0;
        padding-top: 5px;
        margin: 0;
        padding-right: 15px;
        display: flex;
    }
    .footer-right {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }
    .footer-nav-link {
        text-decoration: none;
        color: white;
        padding-right: 15px;
    }
    .footer-nav-link:hover {
        color: #E0B509;
        font-weight: bold;
    }
    .footer-picture1 {
        max-height: 220px
    }
    .footer-picture2 {
        max-height: 140px
    }
    .footer-icon-picture {
        width: 38px;
    }
    /* #endregion 首頁 */
    /* #region 賽季 */
    .introduction {
        background-color: #000;
        display: flex;
        padding-top: 15px;
    }
    .introduction-picture {
        display: flex;
        justify-content: center;
    }
    .introduction-picture1 {
        border-radius: 30px;
        padding: 5px;
        max-height: 570px;
    }
    .introduction-main {
        display: flex;
        flex-direction: column;
    }
    .introduction-contain {
        display: flex;
    }
    .introduction-left {
        width: 60%;
    }
    .name {
        font-family: 'Love Ya Like A Sister', 'cursive';
        font-weight: normal;
        font-size: 64px;
    }
    .information {
        color: #FFF;
        font-size: 30px;
    }
    .information-list {
        font-weight: bold;
        font-size: 35px;
    }
    .line1 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
    }
    .introduction-right {
        width: 40%;
    }
    .introductio-name {
        color: #E0B509;
        font-size: 42px;
        text-align: center;
    }
    .line-contain2 {
        padding-left: 25%;
    }
    .line2 {
        border: 1px solid rgba(255, 224, 64, 0.9);
        background-color: rgba(255, 224, 64, 0.9);
        width: 65%;
    }
    .introduction-season {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 350px;
    }
    .score {
        display: flex;
        color: #FFF;
        text-align: center;
        /* font-size: 36px; */
        justify-content: space-around;
    }
    .score-name-effect {
        /* border: 9px solid #E0B509; */
        text-shadow: 0 0 10px #E0B509, 0 0 20px #E0B509, 0 0 30px #E0B509, 0 0 40px #E0B509;
        /* text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px; */
        /* text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px; */
        font-size: 42px;
    }
    .score-score-effect {
        font-family: 'Stardos Stencil', 'cursive';
        font-size: 38px;
    }
    /* #endregion 賽季 */
}